.battleground{
    display: flex;
    justify-content: space-between;
}

.battleground_player-ground{
    width: 409px;
    height: 409px;
    background: url(../../assets/Sea-ground.png);
    display: grid;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px ;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px ;
    gap: 1px;
}

.battleground_player-button{
    background-color: red;
}