.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
  margin-top: 50px;
  margin-right: 500px;
  margin-left: 500px;
}

.layout_main {
  width: 100%;
  width: 1170px;
  padding: 25px 100px;
}

.timer-turn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-turn {
  width: 100%;
  margin-top: 15px;
  font-family: Inter, sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #1f1f1f;
}

a {
  color: white;
  text-decoration: none;
}

.layout_footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  width: 1000px;
  margin-top: 50px;
  margin-left: 35px;
}

.button_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 147px;
}
