.grid-container {
  display: grid;
  grid-template-rows: repeat(10, 48px);
  grid-template-columns: repeat(10, 48px);
  width: 480px;
  height: 480px;
  background: url("src/assets/images/Sea-ground.png");
  border: 4px #2c2c2c solid;
  box-shadow: 0 4px 0 #1f1f1f;
}

.grid-item {
  padding: 20px;
  border: 2px solid white;
}

.my-grid-item {
  padding: 20px;
  border: 2px solid white;
}

.grid-item:hover {
  cursor: none;
  background: rgb(243.09 165.3 165.3 / 70%);
}

.grid-item:active {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(243.09 165.3 165.3 / 70%);
  background-repeat: no-repeat;
  background-position: center;
}

.ground-wrapper {
  cursor: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ground__name {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 35px;
  font-weight: 700;
  color: #2c2c2c;
  text-transform: uppercase;
}

.ground__name_wrapper {
  display: flex;
  margin-top: 20px;
}

.element {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("src/assets/svgs/hit.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.miss {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("src/assets/svgs/miss.svg");
  background-repeat: no-repeat;
  background-position: center;
}
