.timer {
  margin-right: 30px;
  margin-left: 30px;
  font-family: pasty-sans, sans-serif;
  font-size: 64px;
  font-weight: 200;
  color: #1f1f1f;
}

.timer_wrapper {
  display: flex;
  width: 315;
  height: 84;
  background: #fede65;
  border: 4px #1f1f1f solid;
  border-radius: 20px;
  box-shadow: 4px 4px 0 #1f1f1f;
}

.timer__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 84px;
  background-color: white;
  border-radius: 16px;
}

.timer__icon::after {
  position: absolute;
  width: 84px;
  height: 84px;
  content: "";
  border-top: 4px #1f1f1f solid;
  border-right: 4px #1f1f1f solid;
  border-bottom: 4px #1f1f1f solid;
  border-radius: 20px;
}
