.ships-wrapper {
    display: flex;
    gap: 4px;
    margin-top: 10px;
}


.battleship {
    width: 188px;
    height: 44px;
    padding: 8px 12px;
    background: url("src/assets/images/ships/four/full.png") no-repeat center;
    background-size: 192px 48px;
    border: 2px solid black;
    border-radius: 5px;
}

.cruiser {
    width: 164px;
    height: 60px;
    background: url("src/assets/images/ships/three/full.png") no-repeat center;
    background-size: 144px 48px;
    border: 2px solid black;
    border-radius: 5px;
}

.destroyer {
    width: 116px;
    height: 60px;
    background: url("src/assets/images/ships/two/full.png") no-repeat center;
    background-size: 96px 48px;
    border: 2px solid black;
    border-radius: 5px;
}

.patrol-boat {
    width: 66px;
    height: 46px;
    background: url("src/assets/images/ships/one/first.png") no-repeat center;
    background-size: 46px 30px;
    border: 2px solid black;
    border-radius: 5px;
}

.arrangement-text {
    font-family: pasty-sans, sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #393939;
}
