.reset-button {
    width: 247px;
    height: 80px;
    margin-right: 50px;
    font-size: 30px;
    color: #2c2c2c;
    border: 3px black solid;
    border-radius: 20px;
    box-shadow: 4px 4px 0 black;
}

.reset-button:hover {
    background-color: #f1f1f1;
}

.reset-button:active {
    background-color: #f1f1f1;
    box-shadow: 1px 1px 0 black,
    inset 2px 3px 0 #b5b5b5;
}

.main_placement-ship {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 440px;
}

.ships-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 100px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: white;
    list-style-type: none;
}

.randomise-button {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 247px;
    height: 80px;
    color: #2c2c2c;
    border: 3px black solid;
    border-radius: 20px;
    box-shadow: 4px 4px 0 black;
}

.randomise-button:hover {
    background-color: #f0f0f0;
}

.randomise-button:active {
    background-color: #f1f1f1;
    box-shadow: 1px 1px 0 black,
    inset 2px 3px 0 #b5b5b5;

}

.ready-button {
    width: 400px;
    height: 80px;
    color: #2c2c2c;
    border: 3px black solid;
    border-radius: 20px;
    box-shadow: 4px 4px 0 black;
}

.ready-button:hover {
    background-color: #f1f1f1;
}

.ready-button:active {
    background-color: #f1f1f1;
    box-shadow: 1px 1px 0 black,
    inset 2px 3px 0 #b5b5b5;
}

.right-menu {
    margin-bottom: 37%;
    margin-left: 10%;
}

.right-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-top: -140px;
    margin-left: 150px;
}

.rules-button {
    width: auto;
    height: auto;
    background: none;
}

.error-text {
    position: absolute;
    margin-top: -38px;
    margin-left: 28px;
    font-family: pasty-sans, sans-serif;
    font-size: 26px;
    color: #eb9e9e;
}

.ready-block {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-left: 280px;
}

.ready-button:disabled {
    color: #D9D9D9;
    background: white;
}

.question_button {
    fill: white;
}

.question_button:disabled {
    background: none;
    fill: #D9D9D9;
}

.rules-button:disabled {
    background: none;
}

.reset-button:disabled {
    color: #D9D9D9;
    background: white;
    border-color: #D9D9D9;
    box-shadow: 4px 4px 0 #D9D9D9;
}

.randomise-button:disabled {
    color: #D9D9D9;
    background: white;
    border-color: #D9D9D9;
    box-shadow: 4px 4px 0 #D9D9D9;
}

.ready-button:disabled {
    color: #D9D9D9;
    background: white;
    border-color: #D9D9D9;
    box-shadow: 4px 4px 0 #D9D9D9;
}